<html>
    <head>
        <title>Minimal Symbol Recognizer</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
        <style type='text/css'>
            #sheet {
                border: 1px solid black;
            }
        </style>
        <script type='text/javascript'>
            window.onload = function () {
                var canvas = new fabric.Canvas('sheet');
                canvas.isDrawingMode = true;
                canvas.freeDrawingBrush.width = 5;
                canvas.freeDrawingBrush.color = "#ff0000";
                canvas.on("mouse:up", sendToServer);

                function sendToServer() {
                    var dataURL = canvas.toDataURL({
                        width: canvas.width,
                        height: canvas.height,
                        left: 0,
                        top: 0,
                        format: 'png',
                    });
                    $.ajax({
                        type: "POST",
                        url: "classify",
                        data: {
                            imgBase64: dataURL
                        }
                    }).done(function (data) {
                        console.log(data);
                        var content = "<table class='table' role='table' name='resulttable' id='resulttable'>";
                        content += "<thead><tr><th>Symbol</th><th>%</th></tr></thead><tbody>";
                        $.each(data['prediction'], function (index, value) {
                            content += "<tr><td>" + value['symbol'] + "</td><td>" + value['probability'] + "</td></tr>";
                        }
                        );
                        content += "</tbody></table>";
                        document.getElementById('classification-results').innerHTML = content;
                    });
                }
            }
        </script>
    </head>
    <body>
        <h1>Recognize this symbol</h1>
        <canvas id="sheet" width="400" height="400"></canvas>
        <h2>Results</h2>
        <div id="classification-results"></div>
    </body>
</html>
